interactions:
- request:
    body: '{"id":-1,"method":"Authenticate","params":{"database":"x","userName":"x","password":"x"}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":{"credentials":{"database":"x","sessionId":"fqQG4mPBCc0BfPPuW0Ay0A","userName":"x"},"path":"ThisServer"},"jsonrpc":"2.0","id":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      service-worker-allowed:
      - /serviceworker/
      x-correlation-id:
      - 0HN4TI3ER922G:00000D1E
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '2024-07-06T14:34:44.0214382Z'
    status:
      code: 200
      message: OK
- request:
    body: '{"id":-1,"method":"Get","params":{"typeName":"Device","credentials":{"userName":"x","sessionId":"fqQG4mPBCc0BfPPuW0Ay0A","database":"x"}}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":[{"obdAlertEnabled":false,"auxWarningSpeed":[0,0,0,0,0,0,0,0],"enableAuxWarning":[false,false,false,false,false,false,false,false],"enableControlExternalRelay":false,"externalDeviceShutDownDelay":0,"immobilizeArming":30,"immobilizeUnit":false,"isAuxIgnTrigger":[false,false,false,false],"isAuxInverted":[false,false,false,false,false,false,false,false],"accelerationWarningThreshold":24,"accelerometerThresholdWarningFactor":0,"brakingWarningThreshold":-34,"corneringWarningThreshold":26,"enableBeepOnDangerousDriving":false,"enableBeepOnRpm":false,"engineHourOffset":0,"isActiveTrackingEnabled":false,"isDriverSeatbeltWarningOn":false,"isPassengerSeatbeltWarningOn":false,"isReverseDetectOn":false,"isIoxConnectionEnabled":true,"odometerFactor":1,"odometerOffset":0,"rpmValue":3500,"seatbeltWarningSpeed":10,"activeFrom":"2021-06-15T16:32:29.767Z","activeTo":"2021-07-20T12:08:04.109Z","disableBuzzer":false,"enableBeepOnIdle":false,"enableSpeedWarning":false,"engineType":"EngineTypeGenericId","idleMinutes":3,"isSpeedIndicator":false,"minAccidentSpeed":4,"speedingOff":90,"speedingOn":100,"goTalkLanguage":"English","fuelTankCapacity":0,"disableSleeperBerth":false,"autoHos":"AUTO","wifiHotspotLimits":[],"autoGroups":[],"customParameters":[],"enableMustReprogram":false,"engineVehicleIdentificationNumber":"@@@@@@@@@@@@@@@@@","ensureHotStart":false,"gpsOffDelay":0,"licensePlate":"","licenseState":"","major":32,"minor":42,"parameterVersion":1,"pinDevice":true,"vehicleIdentificationNumber":"","parameterVersionOnDevice":1,"comment":"","groups":[{"id":"GroupVehicleId"}],"timeZoneId":"Europe/London","deviceFlags":{"activeFeatures":[],"isActiveTrackingAllowed":true,"isContinuousConnectAllowed":false,"isEngineAllowed":true,"isGarminAllowed":true,"isHOSAllowed":true,"isIridiumAllowed":true,"isOdometerAllowed":true,"isTripDetailAllowed":true,"isUIAllowed":true,"isVINAllowed":true,"ratePlans":[]},"deviceType":"GO9","id":"b8","ignoreDownloadsUntil":"1986-01-01T00:00:00.000Z","maxSecondsBetweenLogs":200,"name":"GR9
        Beta test in Skidoo","productId":120,"serialNumber":"000-000-0000","timeToDownload":"1.00:00:00","workTime":"WorkTimeStandardHoursId","devicePlans":["Pro"],"devicePlanBillingInfo":[{"billingLevel":1,"devicePlanName":"Pro"}],"customFeatures":{},"customProperties":[],"mediaFiles":[]},{"isContinuousConnectEnabled":false,"obdAlertEnabled":false,"auxWarningSpeed":[0,0,0,0,0,0,0,0],"enableAuxWarning":[false,false,false,false,false,false,false,false],"enableControlExternalRelay":false,"externalDeviceShutDownDelay":0,"immobilizeArming":30,"immobilizeUnit":false,"isAuxIgnTrigger":[false,false,false,false],"isAuxInverted":[false,false,false,false,false,false,false,false],"accelerationWarningThreshold":22,"accelerometerThresholdWarningFactor":0,"brakingWarningThreshold":-34,"corneringWarningThreshold":26,"enableBeepOnDangerousDriving":false,"enableBeepOnRpm":false,"engineHourOffset":0,"isActiveTrackingEnabled":false,"isDriverSeatbeltWarningOn":false,"isPassengerSeatbeltWarningOn":false,"isReverseDetectOn":false,"isIoxConnectionEnabled":true,"odometerFactor":1,"odometerOffset":0,"rpmValue":3500,"seatbeltWarningSpeed":10,"activeFrom":"2023-08-14T12:35:35.968Z","activeTo":"2050-01-01T00:00:00.000Z","disableBuzzer":false,"enableBeepOnIdle":false,"enableSpeedWarning":false,"engineType":"EngineTypeGenericId","idleMinutes":3,"isSpeedIndicator":false,"minAccidentSpeed":4,"speedingOff":90,"speedingOn":100,"goTalkLanguage":"English","fuelTankCapacity":0,"autoHos":"OFF","wifiHotspotLimits":[],"autoGroups":[],"customParameters":[{"bytes":"PQ==","description":"Monitor
        IGN ON/OFF, Accident Level Events, SATIRD Coverage","isEnabled":true,"offset":58},{"bytes":"8A==","description":"
        Aux 5-8 trigger data to be sent via satellite","isEnabled":true,"offset":60},{"bytes":"Cg==","description":"Satellite
        update period as 10 min","isEnabled":true,"offset":59},{"bytes":"QA==","description":"Use
        GPS DateTime as First DateTime After Reset","isEnabled":true,"offset":166},{"bytes":"AQ==","description":"Aux
        1 trigger emergency message to be sent via satellite","isEnabled":true,"offset":61},{"bytes":"QA==","description":[...]
