interactions:
- request:
    body: '{"id":-1,"method":"Authenticate","params":{"database":"x","userName":"x","password":"x"}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":{"credentials":{"database":"x","sessionId":"aYtxN_xRBXgp-UzQ_RR1ag","userName":"x"},"path":"ThisServer"},"jsonrpc":"2.0","id":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      service-worker-allowed:
      - /serviceworker/
      x-correlation-id:
      - 0HN4T3PG947AM:000000C0
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '2024-07-06T14:02:44.8766228Z'
    status:
      code: 200
      message: OK
- request:
    body: '{"id":-1,"method":"Get","params":{"search":{"fromDate":"2024-07-06T13:49:47.000Z","toDate":"2024-07-06T13:49:47.000Z","deviceSearch":{"id":"b7"}},"resultsLimit":null,"typeName":"LogRecord","credentials":{"userName":"basmagic@bas.ac.uk","sessionId":"aYtxN_xRBXgp-UzQ_RR1ag","database":"bas_uk"}}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":[{"latitude":56.0257034,"longitude":-3.44706559,"speed":0,"dateTime":"2024-07-06T13:49:47.000Z","device":{"id":"b7"},"id":"b114521"}],"jsonrpc":"2.0","id":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      service-worker-allowed:
      - /serviceworker/
      x-correlation-id:
      - 0HN4T96TR25TT:000002DD
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '999'
      x-rate-limit-reset:
      - '2024-07-06T14:02:45.4187917Z'
    status:
      code: 200
      message: OK
version: 1
