interactions:
- request:
    body: '{"id":-1,"method":"Authenticate","params":{"database":"x","userName":"x","password":"x"}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":{"credentials":{"database":"bas_uk","sessionId":"8sM8Yjv7iSWOXnFsMCMYwg","userName":"basmagic@bas.ac.uk"},"path":"ThisServer"},"jsonrpc":"2.0","id":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      service-worker-allowed:
      - /serviceworker/
      x-correlation-id:
      - 0HN4TK08UDJE7:00000072
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '9'
      x-rate-limit-reset:
      - '2024-07-06T18:14:43.7345186Z'
    status:
      code: 200
      message: OK
- request:
    body: '{"id":-1,"method":"Get","params":{"typeName":"DeviceStatusInfo","credentials":{"userName":"basmagic@bas.ac.uk","sessionId":"8sM8Yjv7iSWOXnFsMCMYwg","database":"bas_uk"}}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":[{"bearing":0,"currentStateDuration":"00:16:30","exceptionEvents":[],"isDeviceCommunicating":true,"isDriving":false,"latitude":56.0256767,"longitude":-3.44706559,"speed":0,"dateTime":"2024-07-06T18:12:58.000Z","device":{"id":"b7"},"driver":"UnknownDriverId","isHistoricLastDriver":true,"groups":[{"id":"GroupVehicleId"},{"id":"b2794"}]},{"bearing":25,"currentStateDuration":"00:34:59","exceptionEvents":[],"isDeviceCommunicating":false,"isDriving":false,"latitude":-67.5713272,"longitude":-68.1290512,"speed":0,"dateTime":"2024-07-02T15:23:33.063Z","device":{"id":"b13"},"driver":"UnknownDriverId","isHistoricLastDriver":false,"groups":[{"id":"GroupVehicleId"},{"id":"b2796"}]},{"bearing":0,"currentStateDuration":"00:00:00","exceptionEvents":[],"isDeviceCommunicating":false,"isDriving":false,"[...]
- request:
    body: '{"id":-1,"method":"Get","params":{"search":{"fromDate":"2024-07-06T18:12:58.000Z","toDate":"2024-07-06T18:12:58.000Z","deviceSearch":{"id":"b7"}},"resultsLimit":null,"typeName":"LogRecord","credentials":{"userName":"basmagic@bas.ac.uk","sessionId":"8sM8Yjv7iSWOXnFsMCMYwg","database":"bas_uk"}}}'
    headers:
      Content-type:
      - application/json; charset=UTF-8
    method: POST
    uri: https://my.geotab.com/apiv1
  response:
    body:
      string: '{"result":[{"latitude":56.0256767,"longitude":-3.44706559,"speed":0,"dateTime":"2024-07-06T18:12:58.000Z","device":{"id":"b7"},"id":"b1145C6"}],"jsonrpc":"2.0","id":-1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      service-worker-allowed:
      - /serviceworker/
      x-correlation-id:
      - 0HN4TJ23BAT02:000000F4
      x-rate-limit-limit:
      - 1m
      x-rate-limit-remaining:
      - '999'
      x-rate-limit-reset:
      - '2024-07-06T18:14:44.8056372Z'
    status:
      code: 200
      message: OK
version: 1
