{% import '_macros/base.html.j2' as base %}

{% macro alert(style, variant, content, classes=None) %}
  {% set alert_classes = "bsk-alert bsk-alert-" + style + " bsk-alert-" + variant %}
  {% set combined_classes = alert_classes + ' ' + classes if classes else alert_classes %}

  <div class="{{ combined_classes }}">
    {{ caller() }}
  </div>
{% endmacro %}

{% macro a_btn(data, btn_class="bsk-btn-default") %}
  {% if data is not mapping %}
    {% set data = {'href': data.href, 'value': data.value} %}
  {% endif %}
  {% set existing_class = data.class | default('') %}
  {% set btn_classes = 'bsk-btn ' + btn_class %}
  {% set combined_classes = existing_class + ' ' + btn_classes if existing_class else btn_classes %}
  {% set data = dict(data, class=combined_classes) %}
  {{ base.a(data) }}
{% endmacro %}

{% macro button(data) %}
  {% set existing_class = data.class | default('') %}
  {% set btn_classes = 'bsk-btn bsk-btn-primary' %}
  {% set combined_classes = existing_class + ' ' + btn_classes if existing_class else btn_classes %}
  {% set data = dict(data, class=combined_classes) %}
  {{ base.button(data) }}
{% endmacro %}

{% macro dl(content) %}
  <dl class="bsk-dl">
    {{ caller() }}
  </dl>
{% endmacro %}

{% macro dl_horizontal(content, classes=None) %}
  {% set base_classes = "bsk-dl-horizontal" %}
  {% set combined_classes = base_classes + ' ' + classes if classes else base_classes %}
  <dl class="{{ combined_classes }}">
    {{ caller() }}
  </dl>
{% endmacro %}

{% macro dropdown_btn(title) %}
  <a class="bsk-dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
     {{ title }} <span class="bsk-caret"></span>
  </a>
{% endmacro %}

{% macro dev_phase(phase) %}
  <div class="bsk-container-fluid">
    {{ dev_phase_label(phase) }}
    This is a new website, your {{ dev_phase_feedback_btn() }} will help us to improve it.
  </div>
{% endmacro %}

{% macro dev_phase_feedback_btn() %}
      <button class="bsk-btn bsk-btn-link site-feedback-trigger" style="padding: 0;font-size: 16px;top: -2px;position: relative;">feedback</button>
{% endmacro %}

{% macro dev_phase_label(phase) %}
  <span class="bsk-text-uppercase bsk-label bsk-label-phase-{{ phase }}">{{ phase }}</span>
{% endmacro %}

{% macro footer(copyright_year) %}
  <footer class="bsk-footer bsk-footer-default">
    <div class="bsk-container-fluid">
      {{ footer_something_wrong() }}
      {{ footer_back_to_top() }}
      <div class="div bsk-clearfix"></div>
      <div role="separator" class="bsk-footer-spacer"></div>
      {{ footer_governance(copyright_year) }}
      {{ footer_policy_links() }}
    </div>
  </footer>
{% endmacro %}

{% macro footer_back_to_top() %}
  <div class="bsk-footer-back-to-top bsk-float-end">
    {{ base.a(data={'href': '#site-top', 'value': 'Back to top'}) }}
  </div>
{% endmacro %}

{% macro footer_governance(copyright_year) %}
  <div class="bsk-footer-governance bsk-float-start">
    © {{ base.a(data={'href': 'https://www.bas.ac.uk', 'value': 'British Antarctic Survey'}) }} (BAS) {{ copyright_year }}.
    BAS is part of {{ base.a(data={'href': 'https://www.ukri.org', 'value': 'UK Research and Innovation'}) }} (UKRI).
  </div>
{% endmacro %}

{% macro footer_policy_links() %}
  <div class="bsk-footer-policy-links bsk-float-end">
    <ul class="bsk-list-inline">
      <li class="bsk-list-inline-item">{{ base.a(data={'href': '#', 'value': 'Cookies'}) }}</li>
      <li class="bsk-list-inline-item">{{ base.a(data={'href': '#', 'value': 'Copyright'}) }}</li>
      <li class="bsk-list-inline-item">{{ base.a(data={'href': '#', 'value': 'Privacy'}) }}</li>
    </ul>
  </div>
{% endmacro %}

{% macro footer_something_wrong() %}
  <div class="bsk-footer-is-something-wrong bsk-float-start">
    <button class="bsk-btn bsk-btn-link site-feedback-trigger" style="padding: 0;color: #71b2d7;font-weight: 100;font-size: 17px;">Is something wrong with this page?</button>
  </div>
{% endmacro %}

{% macro form_submit(value) %}
  {{ button({ 'type': 'submit', 'value': value, 'class': 'bsk-btn-lg'}) }}
{% endmacro %}

{% macro hr_dashed() %}
  <hr class="bsk-hr-dashed">
{% endmacro %}

{% macro navbar(data) %}
  <nav class="bsk-navbar bsk-navbar-expand-lg">
    <div class="bsk-container-fluid">
      <div class="bsk-navbar-header">
        <button class="bsk-navbar-toggle bsk-collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="bsk-sr-only">Toggle navigation</span>
            <span class="bsk-icon-bar"></span>
            <span class="bsk-icon-bar"></span>
            <span class="bsk-icon-bar"></span>
        </button>
        {{ base.a({'class': 'bsk-navbar-brand bsk-nav-link', 'href': data.title_href, 'value': data.title_value}) }}
      </div>
      <div id="navbar-collapse" class="bsk-collapse bsk-navbar-collapse">
        <ul class="bsk-nav bsk-navbar-nav bsk-navbar-right">
          <li class="bsk-dropdown">
            {{ dropdown_btn('Part of British Antarctic Survey') }}
            <ul class="bsk-dropdown-menu">
              <li>{{ base.a(data={'href': 'https://www.bas.ac.uk', 'value': 'BAS Home'}) }}</li>
              <li>{{ base.a(data={'href': 'https://data.bas.ac.uk', 'value': 'Discover BAS Data'}) }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endmacro %}

{% macro page_header(data) %}
  <header class="bsk-page-header bsk-page-header-stacked">
    <h1>
      <small class="bsk-text-capitalize">
        {{ base.i_str({'icon_pre': data.subtitle[1], 'value': data.subtitle[0]}) }}
      </small>
      <br>
      {{ data.title }}
    </h1>
  </header>
{% endmacro %}

{% macro site_top_anchor() %}
  <div id="site-top"></div>
{% endmacro %}
