{% import '_macros/common.html.j2' as com %}

{% macro map(value) %}
  {{ value }}
{% endmacro %}

{% macro info(data) %}
  <div class="space-y-8">
    <section>{{ bbox(data.bounding_box) }}</section>
    <section>{{ period(start=data.start, end=data.end) }}</section>
  </div>
{% endmacro %}

{% macro bbox(data) %}
  <div class="space-y-8">
    {% call com.item_title() %}Bounding Coordinates{% endcall %}
    {% call com.item_border() %}
      <dl class="space-y-4">
        <div class="grid grid-cols-2 gap-4">
          <div class="col-span-1">
            {% call com.dl_item(title='South-West Corner (min x/y)', id='bbox-min') %}
              South: {{ data[1] }}, West: {{ data[0] }}
            {% endcall %}
          </div>
          <div class="col-span-1">
            {% call com.dl_item(title='North-East Corner (max x/y)', id='bbox-max') %}
              North: {{ data[3] }}, East: {{ data[2] }}
            {% endcall %}
          </div>
        </div>
      </dl>
    </div>
  {% endcall %}
{% endmacro %}

{% macro period(start, end) %}
  {% if start or end %}
    <div class="space-y-8">
      {% call com.item_title() %}Temporal Range{% endcall %}
      {% call com.item_border() %}
        <dl>
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1">
              {% call com.dl_item(title='Start', id='period-start') %}
                {% if start %}{{ start }}{% else %}-{% endif %}
              {% endcall %}
            </div>
            <div class="col-span-1">
              {% call com.dl_item(title='End', id='period-end') %}
                {% if end %}{{ end }}{% else %}-{% endif %}
              {% endcall %}
            </div>
          </div>
        </dl>
      </div>
    {% endcall %}
  {% endif %}
{% endmacro %}
