{% import '_macros/common.html.j2' as com %}

{% macro clause(content, i_classes) %}
  <div class="flex justify-between items-center space-x-2">
    <i class="flex-shrink-0 fa-fw fa-2x {{ i_classes }}"></i>
    <div class="flex-grow">{{ caller() }}</div>
  </div>
{% endmacro %}

{% macro ogl_uk_3_0() %}
<section class="grid grid-cols-2 gap-8" style="grid-template-columns: auto 1fr;">
    <div><strong>Item licence</strong></div>
    <div class="flex justify-between items-top">
      <div>
        <a class="{{ com.link_classes() }}" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence (OGL 3.0) {{ com.ext_link_i() }}</a>
      </div>
      <div>
        <img src="https://cdn.web.bas.ac.uk/bas-style-kit/0.6.0-beta/img/logos-symbols/ogl-symbol-default-transparent-64.png" alt="OGL symbol" />
      </div>
    </div>

    <div><strong>Licence summary</strong></div>
    <div class="space-y-8">
      <div class="space-y-4">
        <p><strong>You are free to:</strong></p>
        {% call com.alert(variant='green') %}
          <div class="space-y-4">
            {% call clause(i_classes='fab fa-creative-commons-share') %}
              <strong>Share</strong> — copy and redistribute this item in any medium or format
            {% endcall %}
            {% call clause(i_classes='fab fa-creative-commons-remix') %}
              <strong>Adapt</strong> — remix, transform, and build upon this item for any purpose, including commercial
            {% endcall %}
          </div>
        {% endcall %}
      </div>
      <div class="space-y-4">
        <p><strong>Providing that you:</strong></p>
        {% call com.alert(variant='yellow') %}
          <div class="space-y-4">
            {% call clause(i_classes='fab fa-creative-commons-by') %}
              <strong>Include attribution</strong> — by including a citation, which must not suggest endorsement of you or your use
            {% endcall %}
            {% call clause(i_classes='far fa-ban') %}
              <strong>Don't include additional restrictions</strong> — you may not legally restrict others from doing things this license permits
            {% endcall %}
          </div>
        {% endcall %}
      </div>
      <div class="space-y-4">
        <p><strong>Important notes:</strong></p>
        {% call com.alert(variant='red') %}
          <div class="space-y-4">
            {% call clause(i_classes='far fa-question-circle') %}
              <strong>Inaccuracies and mistakes</strong> — may be included unintentionally due to limited data availability or quality
            {% endcall %}
            {% call clause(i_classes='far fa-exclamation-circle') %}
              <strong>No warranty, liability or fitness for any purpose</strong> — you must not rely on this information for navigation
            {% endcall %}
          </div>
        {% endcall %}
      </div>
      <p>This is a short licence summary, see the {{ com.ext_link_a(href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/", value="Full Licence") }} for more information.</p>
    </div>
  </section>
{% endmacro %}
